/* styles.css */

@keyframes pulse {
    0% { transform: scale(1); opacity: 0.8; }
    100% { transform: scale(1.1); opacity: 1; }
}

@keyframes tilt-shaking {
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141028;
    background-image: url("background.png");
    background-size: 2000px;
    background-repeat: repeat;
    color: #fff;
    text-align: center;
}

header {
    position: fixed;   /* Fixes the header at the top of the screen */
    width: 100%;       /* Ensures it spans the full width */
    z-index: 1000;     /* Ensures it stays on top of other content */
    background-color: #141028;
    padding: 10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25);
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Spaces the content between left and right */
    align-items: center; /* Aligns items vertically at the center */
  }

.header__logo {
    max-width: 50px; /* Makes the image resize to fit within the div's width */
    margin: 0px 0px 0px 50px;
}

nav {
    display: flex; /* Aligns the nav items horizontally */
    justify-content: right; /* Centers the nav items */
    flex-grow: 1; /* Ensures nav takes up available space */
    margin-right: 50px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1 {
    text-align: left;
    color: #626df6;
    margin: 0px 0px 0px 10px;
}

h2 {
    color: #626df6;
}

footer {
    margin-top: 20px;
    padding: 10px;
}

.timeline {
    margin: 100px 50px 50px 50px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: 'Arial', sans-serif;
}

.timeline__middle {
    position: relative;
    background: #626df6;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #626df6;
    border-radius: 50%;
    margin: 150px 0px;
}

.timeline__point--top {
    top: initial;
    top: 0;
    margin-top: 0px;
}

.timeline__point--bottom {
    top: initial;
    bottom: 0;
    margin-bottom: 0px;
}

.timeline__year {
    font-family: Chalkduster;
    font-style: italic;
    text-align: center;
    position: relative;
    margin: 20px -100px;
    font-size: 5em;
    background-image: linear-gradient(yellow, purple);
    color: transparent;
    background-clip: text;
    letter-spacing: -8px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    /* animation: pulse 3s infinite alternate ease-in-out; */
}

.timeline__date {
    transform: scale(1);
    margin: 150px 20px 20px 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    color: #626df6;
    font-weight: bold;
    font-size: 20px;
}

.timeline__date--right {
    text-align: left;
}

.timeline__date--left {
    text-align: right;
}

.timeline__card--left {
    display: flex;
    justify-content: flex-end
}

.timeline__card--right {
    display: flex;
    justify-content: flex-start
}

.game-card {
    margin: 150px 20px 20px 20px;
    padding: 22px;
    background: hsl(235 43% 20% / 1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    max-width: 250px;
    transition: max-height 0.5s ease-in-out;
    cursor: pointer;
}

.game-card.expanded {
    max-width: 800px;
    width: 100%;
}

.game-card:not(.expanded):hover {
    animation: tilt-shaking 0.5s infinite;
}

.game-card:focus {
    outline: none;   /* Remove focus outline if any */
}

.game-card__expanded-content {
    display: none;
    margin-top: 10px;
}

.game-card.expanded .game-card__description {
    display: block;
}

.game-card.expanded .game-card__details {
    display: grid;
}

.game-card.expanded .game-card__expanded-content {
    display: block;
}

.game-card__title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.game-card__description {
    line-height: 1.5;
    display: none;
    text-align: left;
    background: #00000045;
    padding: 22px;
    border-radius: 10px;
}

.game-card__wrapper {
    display: flex;
    justify-content: left;  /* Centers content horizontally */
    align-items: center;      /* Centers content vertically */
}

.game-card__details {
    margin: 0px;
    line-height: 1.5;
    display: none;
    text-align: left;
    background: #00000045;
    padding: 22px;
    border-radius: 10px;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 40px;
}

.game-card__thumbnail {
    max-width: 100%; /* Makes the image resize to fit within the div's width */
    max-height: 100%; /* Makes the image resize to fit within the div's height */
    object-fit: contain; /* Ensures the image maintains its aspect ratio while fitting within the div */
    border-radius: 10px;
}

.game-card__video {
    max-width: 100%; /* Makes the image resize to fit within the div's width */
    max-height: 100%; /* Makes the image resize to fit within the div's height */
    object-fit: contain; /* Ensures the image maintains its aspect ratio while fitting within the div */
    border-radius: 10px;
}

.game-card__key {
    font-weight: bold; /* Makes the key bold */
    color: #a7a7a7; /* Optional: Sets the color of the key */
    margin-right: 10px; /* Adds some space between the key and value */
  }




